[Desktop Entry]
Categories=Development;Debugger;
Comment=Simple GDB frontend
Exec=gdbfront
GenericName=GdbFront
Icon=gdbfront
Name=GdbFront
StartupNotify=true
Terminal=false
Type=Application
